* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  background: gray;
  color: black;
  display: flex;
  flex-direction: column;
}

header,
footer {
  font-family: "BBH Sans Bartle";
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 5rem;
}

footer a:hover {
  color: gray;
}

header a:hover {
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header .logo {
  font-size: 5rem;
  text-decoration: none;
  color: inherit;
}

.btn {
  background: gray;
  color: black;
  padding: 1.5rem; 
  font-family: "BBH Sans Bartle";
}

.btncontact {
  background: black;
  color: white;
  padding: 2rem;
  font-family: "BBH Sans Bartle";
}


.bienvenida {
  text-align: center;
  padding: 5rem;
  font-family: "BBH Sans Hegarty";
  letter-spacing: 1px;
}

/* PRODUCTOS */
.titulo-productos {
  text-align: center;
  margin: 1rem;
  font-size: 5rem;
  font-family: "BBH Sans Bartle";
}

.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  font-family: "BBH Sans Hegarty";
  letter-spacing: 2px;
}

.cartas {
  background-color: black;
  color: white;
  padding: 2rem;
  width: 50rem;
  padding-bottom: 1rem;

  overflow: hidden;
}

.cartas img {
  width: 100%;
}

/* MEDIA */
@media (max-width: 768px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Contacto */

.titulo-contacto {
  text-align: center;
  padding: 5rem;
  font-family: "BBH Sans Hegarty";
}

.contenedorcontacto {
  width: 100%;
  padding: 20rem;
}

.formcontact {
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
  padding: 3rem;
  color: black;
  height: 50vh;
}

.grupocontacto {
  flex-direction: column;
  gap: 3rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "BBH Sans Hegarty";
  border: none;
}

.grupocontacto input,
.grupocontacto textarea {
  gap: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px black;
  width: 30rem;
  font-size: 3rem;
  font-family: "BBH Sans Hegarty";
}
